@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	position: relative;
	overflow-x: hidden;
	background-color: white;


	width: 100%;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #EF4B4C);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #3E619B);
}

nav {
	z-index: 1;
	display: flex;

	top: 0;
	height: 90px;
	width: 100%;
	background-color: #fff0;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 60px;
	flex-wrap: wrap;
}

nav .logo img {
	margin-top: 20px;
	max-width: 80px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: 'Orbitron', sans-serif;
}

nav ul li {
	margin: 0 5px;
}

nav ul li a {
	text-decoration: none;
	padding: 8px 15px;
	border-radius: 50px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
	font-size: 15px;
	font-weight: 100;
	color: white;
	font-family: 'Anek Malayalam', sans-serif;
	font-weight: 312;
	font-size: 19px;
}

nav ul li a.active,
nav ul li a:hover {
	color: #fff;
	background: #EF4B4C;
}

nav .menu-btn i {
	color: #EF4B4C;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

input[type="checkbox"] {
	display: none;
}

/* @media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
} */

@media (max-width: 1027px) {
	nav .menu-btn i {
		display: block;

	}

	#click:checked~.menu-btn i:before {
		content: "\f00d";
	}

	nav ul {
		z-index: 15;
		position: fixed;
		top: 80px;
		left: -100%;
		background: #42506B;
		height: 100vh;
		width: 100%;
		text-align: center;
		display: block;
		transition: all 0.3s ease;
	}

	#click:checked~ul {
		left: 0;
	}

	nav ul li {
		width: 100%;
		margin: 40px 0;
	}

	nav ul li a {
		width: 100%;
		margin-left: -100%;
		color: #fff;
		display: block;
		font-size: 20px;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	nav ul li a.active,
	nav ul li a:hover {
		background: none;
		font-size: 31px;
		color: white;
		font-weight: 100;
	}

	#click:checked~ul li a {
		margin-left: 0px;


		font-weight: 200;
		font-style: normal;
		font-size: 23px;
	}

}

@media only screen and (min-device-width: 375px) and (max-device-width: 600px) {
	nav {
		z-index: 1;
		display: flex;
		height: 80px;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px 0 30px;
		flex-wrap: wrap;
	}

	nav .logo a {
		text-decoration: none;
		color: #3E619B;
		font-size: 22px;
		font-weight: 600;
	}
}


@media only screen and (min-device-width: 200px) and (max-device-width: 375px) {
	nav {
		z-index: 1;
		display: flex;
		height: 80px;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px 0 20px;
		flex-wrap: wrap;
		background-color: #fff;
	}

	nav .logo {
		color: #3E619B;
		font-size: 20px;
		font-weight: 600;
	}

	nav .logo img {
		margin-top: 18px;
		max-width: 70px;
	}
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: -1;
	width: 100%;
	padding: 0 30px;
	color: #fff;
}

.content div {
	font-size: 40px;
	font-weight: 700;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

/* Section 2 */
.slide-2 {
	display: flex;
	justify-content: space-around;
}

.event_img {
	max-width: 50%;
}

.flex_ {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-comp {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	margin: 50px 0px 0px 0px;
	font-size: 3vw;
	color: #3E619B;
	font-size: 7.4vw;
}

.subtitle {
	margin: 0 20px;
	font-size: 1.5vw;
	color: #5b5b5b;
}

/* Footer */
.footer {
	background-color: #24262b;
	padding: 70px 0;
	position: relative;
	bottom: 0;
	margin-top: 50px;
	width: 100%;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;

}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #EF4B4C;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 1030px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}

	nav .logo img {
		margin-top: 5px;
		max-width: 60px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}

	nav .logo img {
		margin-top: 20px;
		max-width: 60px;
	}
}

/* home */

.home {
	width: 90%;
	margin: 30px auto 0;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.home .img {
	min-width: 50%;
	text-align: center;
}

.home .img img {
	width: 94%;
}

.home .text h1 {

	color: #FFF;
	padding: 0;
	line-height: 1.1;
	font-size: 8.3vw;
	background-color: transparent;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);

	background-size: 50px 50px;
}

.home .text h3 {
	font-family: 'Anek Malayalam', sans-serif;

	padding-left: 15px;
	width: fit-content;
	padding-right: 15px;
	color: #FFF;
	margin-left: auto;
	margin-right: 20px;
	background-color: #00000063;
	border-radius: 50px;

	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-weight: 283;
}


.home .text p {
	font-family: 'Anek Malayalam', sans-serif;
	/*margin-top: 25px;
letter-spacing: 0em;
font-weight: 287;
margin-left: 20px;
background-color: #5a000033;
color: #fff;
border: 1px solid;
padding: 1rem;
font-size: 1.4vw;
font-style: normal;
background: #23074d;
background: -webkit-linear-gradient(to right, #cc5333, #23074d);
background: linear-gradient(to right, #5c00ff42, #0004ff70);
border: 1px solid #f4f4f4;
  border-right-color: rgb(244, 244, 244);
  border-right-style: solid;
  border-right-width: 1px;
border-top-right-radius: 60px;
border-bottom-right-radius: 60px;
width: 90%;
border-right: 30px solid #e6e6e6;*/
	background-color: transparent;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 750px) {
	.home {
		width: 90%;
		margin-top: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.slide-2 {
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}

	.about_div {
		flex-direction: column-reverse;
	}

	.title {
		margin: 10px;
	}

	nav .logo img {
		margin-top: 2px;
		max-width: 50px;
	}

	.home .text h1 {
		font-size: 12vw;
		color: #FFF;
		padding: 0;
	}

	.home .text h3 {


		letter-spacing: 0em;
		font-weight: 330;
		margin-left: 25px;
		margin-right: 30px;
		color: #1c1c1c;
	}

	.home .text h3:first-child,
	.title {

		letter-spacing: 0.036em;
		font-size: 4.2vw;
		margin: 0;
		margin-top: 0px;
		margin-top: 10px;
		background-color: aliceblue;
		color: black;
	}

	.title {
		margin: 20px 0px 0px 20px;
		font-size: 3vw;
		font-size: 40px;
		background-color: transparent;

	}


}

.home .text p,
.subtitle {
	padding-left: 0px;
	padding-top: 20px;
	font-size: 1.6vw;
	letter-spacing: 0em;
	font-weight: 100;

	color: black;
	text-align: left;
	font-size: 1.3vw;
	font-family: 'Anek Malayalam', sans-serif;
	font-weight: 364;
	font-size: 1.6vw;
	margin-left: 0px;
}


}

@media only screen and (min-device-width: 200px) and (max-device-width: 1024) {
	nav .logo img {
		margin-top: 2px;
		max-width: 70px;
	}

	.title {
		margin: 0;
	}
}

/* Button */
button {
	margin: 30px;
}

.custom-btn {
	width: 150px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 20px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	margin: 20px auto 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}


/* 8 */
.btn-8 {
	background-color: #f0ecfc;
	background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
	line-height: 42px;
	padding: 0;
	border: none;
}

.btn-8 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.btn-8:before,
.btn-8:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: #c797eb;
	/*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
	transition: all 0.3s ease;
}

.btn-8:before {
	height: 0%;
	width: 2px;
}

.btn-8:after {
	width: 0%;
	height: 2px;
}

.btn-8:hover:before {
	height: 100%;
}

.btn-8:hover:after {
	width: 100%;
}

.btn-8:hover {
	background: transparent;
}

.btn-8 span:hover {
	color: #c797eb;
}

.btn-8 span:before,
.btn-8 span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: #c797eb;
	/*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
	transition: all 0.3s ease;
}

.btn-8 span:before {
	width: 2px;
	height: 0%;
}

.btn-8 span:after {
	height: 2px;
	width: 0%;
}

.btn-8 span:hover:before {
	height: 100%;
}

.btn-8 span:hover:after {
	width: 100%;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #EF4B4C);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #3E619B);
}

.scrolldeny {

	overflow-y: hidden;
}

.bgcurved {

	position: absolute;
	height: 550px;
	width: 150%;
	background-color: black;
	z-index: -10;
	transform: rotate(-30deg);
	top: 0px;
	left: -500px;
	background: #43C6AC;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4c2200, #b77600);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4c2200, #b77600);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.bgcurved1 {
	position: absolute;

	background-color: black;
	z-index: -10;
	transform: rotate(-30deg);
	top: 0px;
	left: -500px;
	background-color: transparent;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	background-size: 50px 50px;
	height: 550px;
	width: 150%;


}

@keyframes rotate1 {

	50% {

		transform: rotate(390deg);
	}
}

@media only screen and (min-device-width: 200px) and (max-device-width: 750px) {

	.btn-8 {

		margin-left: 25px;
		margin-top: 0px;

	}

	.bgcurved {
		position: absolute;
		height: 550px;
		width: 150%;
		background-color: black;
		z-index: -10;
		transform: rotate(-30deg);

		left: -120px;
		background: #43C6AC;
		background: -webkit-linear-gradient(to right, #4c2200, #b77600);
		background: linear-gradient(to right, #4c2200, #b77600);
		border-radius: 600px;
		animation: none;

	}

	.bgcurved1 {
		position: absolute;
		height: 1000px;
		width: 150%;
		background-color: black;
		z-index: -10;
		transform: rotate(-30deg);

		left: -180px;
		background-color: transparent;
		background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
		background-size: 50px 50px;
		animation: rotate1 220s infinite linear;
	}

	.home .text p,
	.subtitle {
		background-color: #ca000000;
		border: 0;
		background: transparent;
		font-size: 5.7vw;
		margin: 0;
		margin-top: 0px;
		margin-left: 0px;
		padding: 0;
		margin-top: 10px;
		margin-left: 1px;
		font-weight: 100;
		font-size: 5.6vw;
	}

	.subtitle {
		color: black;
		margin-left: 25px;
		margin-right: 25px;
		font-weight: 399;
		margin-top: 0px;


	}

	.curvedbgmobile {

		display: flex;
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 800px;
		margin-top: 25px;
		z-index: -10;

	}

	.home .text h3 {

		font-size: 12px;
		color: white;
		margin-left: 0;
		margin-top: 10px;

	}

}

.home .text p {

	color: white;
	font-size: 20px;
}

h3.subline {}

.desc p {

	color: white;
}

.info-holder {


	background-color: transparent;
	border-radius: 0px;

	position: relative;
	font-size: 8.2vw;
	text-align: left;
}

.bginfoholder {
	position: absolute;
	height: 800px;
	width: 100px;
	background-color: #71000047;
	z-index: -11;
	left: 50%;

	border: 1px solid #b3b3b3;

}

.button-65 {
	appearance: none;
	backface-visibility: hidden;
	background-color: #2f80ed;
	border-radius: 10px;
	border-style: none;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	height: 50px;
	letter-spacing: normal;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	padding: 14px 30px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: translate3d(0, 0, 0);
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: top;
	white-space: nowrap;
	margin: 23px;
	margin-top: 10px;
}

.button-65:hover {
	background-color: #1366d6;
	box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
	opacity: 1;
	transform: translateY(0);
	transition-duration: .35s;
}

.button-65:hover:after {
	opacity: .5;
}

.button-65:active {
	box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
	transform: translateY(2px);
	transition-duration: .35s;
}

.button-65:active:after {
	opacity: 1;
}

@media (min-width: 768px) {
	.button-65 {
		padding: 14px 22px;
		width: 176px;
		margin: 0px;
		margin-top: 0px;
		margin-top: 25px;
		width: fit-content;
	}
}

@media only screen and (min-device-width: 750px) {
	.leftsectiontitle {

		text-align: left;
		margin-left: 50px;

	}

	.leftsidedesc {

		margin-left: 53px;
	}


}
